---
layout: page
title: Latest Posts
description: "The personal blog of Hossain Mohd. Faysal, a doctoral candidate in Electrical Engineering at University of Pennsylvania."
headline: An Engineer's Diary
tags: [Hossain, Mohd, Faysal, electrical, engineering, blog, university, pennsylvania, doha, Qatar]
---
{% for post in paginator.posts limit:10 %} 
{% assign readtime = post.content | number_of_words | divided_by:335 %}
        <article class="post tag-minimal tag-design tag-jurney post row">
            <h2 class="post-title text-center super lighter">
                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <div class="post-info text-center bordered-top col-md-2">
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-time">{{ post.date | date: "%d %b %Y" }}</time>
                 in <span class="post-tags"><a href="{{ site.url }}/categories/index.html#{{ post.categories | cgi_encode }}" data-toggle="tooltip" title="Other posts from the {{ page.categories }} category" rel="tag">{{ post.categories | join: ', ' | capitalize }}</a></span>
                 <span class="post-tags"><i class="icon-time"></i>{% if readtime == 1 %}
                    1 minute read
                    {% endif %}
                    {% if readtime > 1 %}
                    {{ readtime }} minutes read
                    {% endif %}
                    {% if readtime == 0 %}
                    Less than 1 minute read
                    {% endif %}</span>
            </div>
            <div class="post-body bordered-bottom col-md-8">
                <p>{{ post.content | strip_html | truncatewords:100 }}&hellip;</p>
                <a href="{{ site.url }}{{ post.url }}" {% if post.description %}data-toggle="tooltip" title="{{ post.description }}"{% else %}title="Read more about {{ post.title }}"{% endif %}>
                    <i class="icon-link"></i> read more...
                </a>
            </div>
        </article>

{% endfor %}        

        
        
        <div class="row text-center text-caps">
            <div class="col-md-8 col-md-offset-2">
                <nav class="pagination" role="pagination">
    
    <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a class="newer-posts" href="/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
      {% else %}
     <a class="newer-posts" href="/page{{ paginator.previous_page }}/" class="btn" title="Newer Posts">&larr; Newer Posts</a>
      {% endif %}
    {% endif %}
    {% if paginator.next_page %} 
    <a class="older-posts" href="/page{{ paginator.next_page }}/" class="btn" title="Older Posts">Older Posts &rarr;</a>
    {% endif %} 
    
</nav>
</div>
        </div>