{% if page.image.feature %}<footer id="footer"  class="text-center" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" >{% else %}<footer id="footer"  class="text-center" style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" >{% endif %}
    <div class="container">
        <ul class="social-icons">
            {% if site.owner.hmfaysalsocial %}<li>
                <a href="http://social.hmfaysal.tk/index.php?a=profile&u={{ site.owner.hmfaysalsocial }}" title="{{ site.owner.name}} on HMFaysal Social" target="_blank">
                    <i class="icon-coffee"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.twitter %}<li>
                <a href="http://twitter.com/{{ site.owner.twitter }}" title="{{ site.owner.name}} on Twitter" target="_blank">
                    <i class="icon-twitter"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.facebook %}<li>
                <a href="http://facebook.com/{{ site.owner.facebook }}" title="{{ site.owner.name}} on Facebook" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.google_plus %}<li>
                <a href="{{ site.owner.google_plus }}" title="{{ site.owner.name}} on Google+" target="_blank">
                    <i class="icon-google-plus"></i>
                </a>
            </li>{% endif %}
        	{% if site.owner.stackexchange %}<li>
        	 	<a href="{{ site.owner.stackexchange }}" title="{{ site.owner.name}} on StackExchange" target="_blank">
                    <i class="icon-stackexchange"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.instagram %}<li>
                <a href="http://instagram.com/{{ site.owner.instagram }}" title="{{ site.owner.name}} on Instagram" target="_blank">
                    <i class="icon-instagram"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.flickr %}<li>
                <a href="http://www.flickr.com/photos/{{ site.owner.flickr }}" title="{{ site.owner.name}} on Flickr" target="_blank">
                    <i class="icon-flickr"></i>
                </a>
            </li>{% endif %}
            {% if site.owner.github %}<li>
                <a href="http://github.com/{{ site.owner.github }}" title="{{ site.owner.name}} on Github" target="_blank">
                    <i class="icon-github"></i>
                </a>
            </li>{% endif %}
        </ul>
        <p class="copy-text">
        	<a href="{{ site.url }}/about/">{{ site.owner.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.
        </p>
        <p class="copy-text">
            
                {% for link in site.links %}
                <a href="{% if link.external %}{{ link.url }}{% else %}{{ site.url }}{{ link.url }}{% endif %}" {% if link.external %}target="_blank"{% endif %}>{% if link.icon %}<i class="icon-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}&nbsp;&bull;</a>
                {% endfor %}
                <a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i></a>{% if site.search %}<a class="dosearch"><i class="icon-search"></i> Search</a>{% endif %}
        </p>
    </div>
</footer>