{% if page.image.feature %}<header class="blog-header header-white header-overlay align-center align-middle"  style="background-image: url({{ site.url }}/images/{{ page.image.feature }})" > {% else %}  <header class="blog-header header-white header-overlay align-center align-middle"  style="background-image: url({{ site.url }}/images/{{ site.default_bg }})" >{% endif %}
    <div class="header-inner">
        <div class="container">
            <a class="brand light" href="{{ site.url }}" role="banner" >
                
                    <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
                
            </a>
            <h2 class="blog-title light" itemprop="description">
                {{ site.title }}
            </h2>
        </div>
    </div>
</header>